---
import { getCollection, render } from "astro:content";
import { getSortedPublishedPosts } from "@/utils/posts";

import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const publishedPosts = getSortedPublishedPosts(allPosts);
  // const publishedPosts = allPosts;

  return publishedPosts.map((post) => ({
    params: { postSlug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
const {
  title,
  publishDate,
  lastModified = new Date(remarkPluginFrontmatter.lastModified),
} = post.data;

const dateFormat = [
  "en-US",
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  },
] as const;
const publishDateString = publishDate.toDateString();
const prettyPublishDate = publishDate.toLocaleDateString(...dateFormat);
const lastModifiedString = lastModified.toDateString();
const prettyLastModified = lastModified.toLocaleDateString(...dateFormat);
---

<Layout title={title}>
  <h1>{title}</h1>
  <Content />
  <div class="timestamp">
    Published on <time datetime={publishDateString}>{prettyPublishDate}</time>
    <br />
    Last Updated on <time datetime={lastModifiedString}
      >{prettyLastModified}</time
    >
  </div>
</Layout>

<style>
  .timestamp {
    font-size: var(--font-size--1);
  }
</style>
